<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- CSS -->
    <link href="@Url.Content("~/Content/css/TemplateStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/blue.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/fotorama.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/css/prettyPhoto.css")" rel="stylesheet" type="text/css"/>
    <!-- jQuery Library-->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fotorama.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/functions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.prettyPhoto.js")" type="text/javascript"></script>
</head>
    <body class="noJs">
        <div class="wrap">
            <div id="header">
			<div id="logoContainer">
				<a href="@Url.Action("Index","Home")" id="logo"><img src="@Url.Content("~/Content/img/logo.png")" alt="PhotoJournal"></a>
			</div>
			<div id="menuContainer">
				<ul id="navMenu">
                    <li class="parent">
                        <a href="@Url.Action("Index","Home")">Главная</a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Archive","Home")">Архив</a>
                            </li>
                        </ul>
                    </li>
                    <li class=""><a href="@Url.Action("Index","Lenta")">Лента</a></li>
					<li class="parent">
						<a href="#">Путешествия</a>
						<ul>
							<li>
								<a href="#">Блоги</a>
							</li>
						</ul>
					</li>
					<li class=""><a href="#">О проекте</a></li>
				</ul>
			</div><!-- menuContainer close -->
			<div class="clear"></div>
		</div>
            @RenderBody()
        </div>
        <!-- wrap close -->
        <div id="footer">
		<div class="wrap">
			<div id="footerArea">
				<div class="oneFourth">
					<div class="widget">
						<img src="@Url.Content("~/Content/img/footer-logo.png")" alt="Footer logo" />
						<br /><br />
						<p>Портал посвященный фотографиям и фотографам. Фотографии со всего мира в одном журнале.</p>
						<p>Email: <a href="#">flexo@bk.ru</a> <br />Tel: 0-123-456-789</p>
					</div>
				</div>
				<div class="oneFourth">
					<div class="widget">				
						<h3>Карта сайта</h3>
						<ul class="arrowList twoCols">
							<li><a href="#">Главная</a></li>
							<li><a href="#">О проекте</a></li>
							<li><a href="#">Архив</a></li>
							<li><a href="#">Elements</a></li>
							<li><a href="#">Works</a></li>
							<li><a href="#">Portrait</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Single Post</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Sitemap</a></li>
						</ul>
					</div>
				</div>
				<div class="oneFourth">
					<div class="widget">
						<h3>Stay updated</h3>
						<form action="#" class="newsletter">
							<input type="text" class="textField" name="newsletterEmail" placeholder="Insert you email here" />
							<input type="submit" class="button small" name="submitEmail" value="Sign Up" />
						</form>
					</div>
				</div>
				<div class="oneFourth last">
					<div class="widget">
						<h3>Social</h3>
						<ul class="socialList">
							<li><a href="#"><img src="@Url.Content("~/Content/img/social/facebook-rounded.png")" alt="Facebook" title="Facebook" /></a></li>
							<li><a href="#"><img src="@Url.Content("~/Content/img/social/twitter-rounded.png")" alt="Twitter" title="Twitter" /></a></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="subFooter">
				<div class="copyright">Copyright PhotoJournal.by &copy; 2012</div>
				<ul id="footerNavigation">
					<li><a href="#">Terms &amp; Privacy</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
        </div><!-- footer close -->
    </body>
</html>
