@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Путешествия</h2>

<select>
    <option>2012</option>
    <option>2011</option>
    <option>2010</option>
    <option>2009</option>
</select>

<div id="pageContent" class="noSidebar">
			<div class="fullwidth content portfolioPage">
				<div class="oneFourth">
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								<a href="portfolio_single.html" class="viewDetail">
									<div class="thumbHolder">
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" style="opacity: 1" />
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div><!-- portfolioItem close -->
				</div>
				<div class="oneFourth">
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								<a href="portfolio_single.html" class="viewDetail">
									<div class="thumbHolder">
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" />
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div><!-- portfolioItem close -->
				</div>
				<div class="oneFourth">
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								<a href="portfolio_single.html" class="viewDetail">
									<div class="thumbHolder">
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" />
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div><!-- portfolioItem close -->
				</div>
				<div class="oneFourth last">
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								<a href="portfolio_single.html" class="viewDetail">
									<div class="thumbHolder">
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" />
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div><!-- portfolioItem close -->
				</div>
				<div class="clear"></div>
				
				<div class="oneFourth">
				
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								
								<a href="portfolio_single.html" class="viewDetail">
									<div class="thumbHolder">
									
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" />
										
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									
									</div>
								</a>
								
							</div>
						</div>
					</div><!-- portfolioItem close -->
				
				</div>
				<div class="oneFourth">
				
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								
								<a href="portfolio_single.html" class="viewDetail">
									<div class="thumbHolder">
									
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" />
										
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									
									</div>
								</a>
								
							</div>
						</div>
					</div><!-- portfolioItem close -->
				
				</div>
				<div class="oneFourth">
				
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								
								<a href="portfolio_single.html" class="viewDetail">
									<div class="thumbHolder">
									
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" />
										
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									
									</div>
								</a>
								
							</div>
						</div>
					</div><!-- portfolioItem close -->
				
				</div>
				<div class="oneFourth last">
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								<a href="portfolio_single.html" class="viewDetail">
									<div class="thumbHolder">
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" />
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div><!-- portfolioItem close -->
				</div>
				<div class="clear"></div>
				<div class="oneFourth">
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								<a href="portfolio_single.html" class="viewDetail">
									<div class="thumbHolder">
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" />
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div><!-- portfolioItem close -->
				</div>
				<div class="oneFourth">
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								<a href="portfolio_single.html" class="viewDetail">
									<div class="thumbHolder">
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" />
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div><!-- portfolioItem close -->
				</div>
				<div class="oneFourth">
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								<a href="#" class="viewDetail">
									<div class="thumbHolder">
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" />
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div><!-- portfolioItem close -->
				</div>
				<div class="oneFourth last">
					<div class="portfolioItem innerDesc preLoad">
						<div class="portfolioThumb">
							<div class="frame">
								<a href="#" class="viewDetail">
									<div class="thumbHolder">
										<img src="@Url.Content("~/Content/img/portfolio-thumb-small.jpg")" alt="portfolio thumb" class="thumb" />
										<div class="description">
											<h2>Project Title</h2>
											<span class="date">June 07, 2011</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div><!-- portfolioItem close -->
				</div>
				<div class="clear"></div>
			</div><!-- fullwidth close -->
			<div class="clear"></div>
</div><!-- pageContent close -->
