@model IEnumerable<PhotoJournal.Models.PhotoLenta>

@{
    ViewBag.Title = "Фотолента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Фотолента</h2>
<div id="pageContent" style="width: 700px">
<div class="content">
    <div class="">
        @foreach(var item in Model)
        {
          <div class="postThumb">
                <a href="@Url.Content("~/Images/photoLenta/" + @Html.DisplayFor(modelitem => item.Name))" class="lightbox" title="@Html.DisplayFor(modelitem=>item.Description)">
                 <img style="width: 700px" src="@Url.Content("~/Images/photoLenta/" + @Html.DisplayFor(modelitem => item.Name))" alt="@Html.DisplayFor(modelitem=>item.Title)"/>
                </a>
            </div>
        }
    </div>
</div>
</div>