@model IEnumerable<PhotoJournal.Models.PhotoLenta>

@{
    ViewBag.Title = "Фотолента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Фотолента</h2>
<div id="pageContent">
    <div class="content">
            @foreach (var item in Model)
            {
                <div class="portfolioItem oneColumn preLoad">	
                    <div class="twoThird">
                        <div class="portfolioThumb">
                            <div class="frame">
                                <a href="@Url.Action("Photo","Lenta")@string.Format("/{0}",item.Id)" title="@Html.DisplayFor(modelitem => item.Description)">
                                    <div class="thumbHolder">
                                        <img src="@Url.Content("~/Images/photoLenta/" + @Html.DisplayFor(modelitem => item.Name))" 
                                        alt="@Html.DisplayFor(modelitem => item.Title)" class="thumb imgLenta">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>	
                    <div class="oneThird last txtLenta">
                        <div class="portfolioDetails cf">
                            <span class="date">@item.DateTime.ToShortDateString()</span>
                            <h2><a href="@Url.Action("Photo","Lenta")@string.Format("/{0}",item.Id)">@item.Title</a></h2>
                            <p>@item.Description</p>
                            <a href="@Url.Action("Photo","Lenta")@string.Format("/{0}",item.Id)" class="button small">Перейти</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!-- portfolioItem close -->
                <hr />
            }
    </div>
</div>
<div class="pagination cf">
    <span class="pages">Страница @ViewBag.Page из @ViewBag.PagesCount</span>
    <ul class="pageList">
        <li class="prevPage"><a href="@Url.Action("Index", "Lenta")?page=@ViewBag.Prev"></a></li>
        @for (int i = 1; i <= ViewBag.PagesCount; i++)
        {
            if (i==ViewBag.Page)
            {
                <li><span class="current">@i</span></li>
            }else
            {
                <li><a href="@Url.Action("Index", "Lenta")?page=@i">@i</a></li>
            }
        }
        <li class="nextPage"><a href="@Url.Action("Index", "Lenta")?page=@ViewBag.Next"></a></li>	
    </ul>			
</div>
